@page "/"

<PageTitle>Main Page</PageTitle>

<h1>Blazor and Wasm</h1>

App in Blazor (C#)

<!--shared component-->
<SurveyPrompt Title="How is Blazor working for you?" />

<!--shared component-->
<Footer></Footer>